mixin h2(text)
  .h2-container&attributes(attributes)
    .h2= text
    .h2__img
mixin media
  .media__container&attributes(attributes)
    .media__block.media__block--1
    .media__block.media__block--2
    .media__block.media__block--3
